# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Flask / local environment
.env
instance/
*.db

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
